#app {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
